body {
	margin: 0;
	padding: 0;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.container{
	margin: 10px auto;
	padding: 0 15px;
}
.todoapp{
	border-radius: 6px;
}
.header{
	position: relative;
	background: #31ADA0;
	border-radius: 6px 6px 0 0;
	padding: 20px;
	font-size: 20px;
	color: #34495e;
}
.header .search{
	padding-left: 15px;
	background: none;
	border: 0 none;
	box-shadow: none;
	outline: 0 none;
	font-weight: 700;
}
.header .search::-webkit-input-placeholder{
	color: RGBA(52, 73, 94, .8)
}
.glyphicon-plus{
	position: absolute;
	top: 50%;
	right: 20px;
	transform: translate3d(0, -50%, 0);
	cursor: pointer;
}
.edit{
	padding: 10px 20px;
	background: #F0DDAA;
	color: #34495e;
	overflow: hidden;
}

.edit .title{
	width: 100%;
	margin-bottom: 10px;
	padding: 4px 10px;
	border: 0 none;
	border-radius: 3px;
	font-size: 16px;
	outline: none;
}
.edit .content{
	width: 100%;
	min-height: 300px;
	padding: 10px;
	margin-bottom: 5px;
	border: 0 none;
	border-radius: 5px;
	outline: none;
	background: #ffffff;
}
.edit .btn{
	float: right;
	padding: 5px 17px;
	margin-left: 10px;
	outline: none;
}
.edit .btn-save{
	background: RGBA(49, 173, 160, 1.00);
}
.main{
	margin: 0px;
	padding: 0;
	background: RGBA(44, 62, 80, 1.00);
	color: #ffffff;
}
.main .todo{
	position: relative;
	margin-bottom: 2px;
	padding: 15px 20px;
	list-style: none;
	font-size: 14px;
	background: #34495e;
}
.main .todo:last-child{
	margin: 0;
}
.main .todo:hover .todo-control{
	top: 10px;
	opacity: 1;
}
.todo-control{
	position: absolute;
	top: -10px;
	right: 20px;
	font-size: 18px;
	color: #ffffff;
	opacity: 0;
	transition: .3s ease-in-out;
}
.todo-control .glyphicon{
	padding-left: 5px;
	opacity: 0.6;
}
.todo-control .glyphicon:hover{
	opacity: 1;
}


.main .completed{
	background: RGBA(44, 62, 80, 1.00);
}
.main .completed .glyphicon-ok{
	color: #34495e;
	background: #31ADA0;
}
.main .completed .content{
	color: #31ADA0;
}
.main .content{
	margin-left: 40px;
}
.main .content .title{
	display: block;
	border: 0 none;
	background: none;
	font-size: 20px;
	margin-bottom: 10px;
	outline: none;
}

.glyphicon-ok{
	position: absolute;
	top:50%;
	transform: translate3d(0,-50%,0);
	padding: 4px;
	font-size: 14px;
	border-radius: 50%;
	background: #ffffff;
	color: rgba(255, 255, 255, 0);
	cursor: pointer;
}
.okAll{
	cursor: pointer;
	color: #31ADA0;
	background: #34495e;
}
.footer{
	position: relative;
	padding: 15px 20px;
	background: #31ADA0;
	color: #34495e;
	border-radius: 0 0 6px 6px;
}
.footer .filters{
	list-style: none;
	position: absolute;
	top: 50%;
	left: 200px;
	transform: translate3d(-50%, -50%, 0);
	padding: 0 0 0 80px;
}
.footer .filters .li{
	display: inline;
	padding-left: 10px;
}
.footer .filters .route{
	color: inherit;
	text-decoration: none;
}
.footer .clear-completed{
	float: right;
	padding: 0;
	border: 0 none;
	background: #31ADA0;
	outline: none;
}
.footer .todo-count{
	margin-left: 40px;
}

.top{
	position: fixed;
	right: 20px;
	bottom: 30px;
}
.to-top{
	padding: 8px;
	border-radius: 100%;
	font-size: 20px;
	color: #34495e;
	background: #31ADA0;
	opacity: 0.6;
	cursor: pointer;
	transition: 0.3s ease-in-out;
}
.to-top:hover{
	opacity: 1;
}
@media screen and (max-width: 640px) {
	.container{
		margin: 0;
		padding: 0;
	}
	.main .todo{
		font-size: 12px;
		padding: 15px;
	}
	.main .todo .content{
		margin: 0;
	}
	.glyphicon-ok{
		display: none;
	}
	.todo-control{
		font-size: 12px
	}
	.footer .todo-count{
		margin: 0;
	}
	.footer .filters{
		display: none;
	}
}
